In [1]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('order').getOrCreate()

25/04/18 17:35:30 WARN Utils: Your hostname, namunaacharya resolves to a loopback address: 127.0.1.1; using 10.10.42.126 instead (on interface enp2s0)
25/04/18 17:35:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/18 17:35:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df= spark.read.format('csv').option("header",True).option("inferSchema",True).load('orders_demo_data.csv')

In [9]:
df.show()

+--------+-----------+----------+----------------+------+--------------+
|order_id|customer_id|order_date|product_category|amount|payment_method|
+--------+-----------+----------+----------------+------+--------------+
|       1|       1006|2023-01-01|        Clothing|101.39| Bank Transfer|
|       2|       1019|2023-01-02|            Home| 29.98|        PayPal|
|       3|       1014|2023-01-03|        Clothing|299.54|          Cash|
|       4|       1010|2023-01-04|        Clothing|342.01| Bank Transfer|
|       5|       1007|2023-01-05|     Electronics| 18.13|   Credit Card|
|       6|       1006|2023-01-06|        Clothing|260.93|        PayPal|
|       7|       1018|2023-01-07|            Toys|120.98| Bank Transfer|
|       8|       1010|2023-01-08|        Clothing|326.13|        PayPal|
|       9|       1010|2023-01-09|     Electronics| 95.44| Bank Transfer|
|      10|       1003|2023-01-10|            Toys|348.56|        PayPal|
|      11|       1007|2023-01-11|           Books| 199.5|   Credit Card|
|      12|       1002|2023-01-12|        Clothing| 469.0|          Cash|
|      13|       1001|2023-01-13|     Electronics| 77.39|   Credit Card|
|      14|       1011|2023-01-14|           Books|177.12|          Cash|
|      15|       1005|2023-01-15|           Books|  65.6|        PayPal|
|      16|       1001|2023-01-16|            Home| 463.1| Bank Transfer|
|      17|       1000|2023-01-17|            Toys| 439.9|   Credit Card|
|      18|       1011|2023-01-18|        Clothing|136.39|          Cash|
|      19|       1011|2023-01-19|     Electronics|333.39|   Credit Card|
|      20|       1016|2023-01-20|            Home|410.44|          Cash|
+--------+-----------+----------+----------------+------+--------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import count,sum
result = df.groupby("product_category").agg(count("*").alias("total_order_count"),sum("amount").alias("total_amount_paid")).orderBy("total_amount_paid")
result.show()

+----------------+-----------------+------------------+
|product_category|total_order_count| total_amount_paid|
+----------------+-----------------+------------------+
|           Books|               14|3522.8500000000004|
|            Toys|               16|4000.3599999999997|
|        Clothing|               23| 6152.360000000001|
|            Home|               22| 6188.310000000001|
|     Electronics|               25|           6761.85|
+----------------+-----------------+------------------+